.videos {
  max-width: 2500px;
  padding: 0 3%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: #021c52;
  margin-top: 40px;

  .alice-carousel__dots,
  .alice-carousel__next-btn,
  .alice-carousel__prev-btn {
    display: none;
  }

  .videos-header {
    h1 {
      font-size: 34px;
      line-height: 41px;
      color: #fff;

      @media only screen and (min-width: 200px) and (max-width: 480px) {
        font-size: 24px !important;
      }
    }
  }

  .videos-body {
    position: relative;
    .prev_btn_container {
      left: 0 !important;
      position: absolute;
      top: 40%;
      width: 50px;
      height: 50px;
      z-index: 99;
    }
    .next_btn_container {
      position: absolute;
      width: 50px;
      right: 0;
      top: 40%;
      z-index: 99;
      height: 50px;
    }
    .prev-btn,
    .next-btn {
      border: none;
      border-radius: 50%;
      padding: 7px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgba($color: #000000, $alpha: 0.7);
      transition: all 0.3s;

      &:hover {
        background: rgba($color: #000000, $alpha: 0.6);
      }
    }
  }

  .my-video-container {
    display: flex;
    width: 100%;
    height: 200px;
    align-items: center;
    justify-content: center;

    iframe {
      width: 320px;
      margin: 1%;
      height: 100%;
      border-radius: 7px;
    }
  }
}

// Mobile devices (portrait)
@media only screen and (min-width: 200px) and (max-width: 480px) {
  .videos {
    iframe {
      width: 380px;
      height: 200px;
    }

    .videos-header {
      .title {
        h1 {
          font-size: 20px !important;
        }

        color: #fff;
      }
    }

    .react-multi-carousel-track {
      display: flex;
      gap: 5px;
    }
  }
}

// iPads, tablets (portrait)
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .videos {
    iframe {
      width: 320px;
      height: 200px;
    }

    .videos-header {
      .title {
        font-size: 25px;
        color: #fff;
      }
    }

    .react-multi-carousel-track {
      display: flex;
      gap: 5px;
    }
  }
}

// Small screens, laptops (landscape)
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .videos {
    iframe {
      width: 100%;
      height: 200px;
    }

    .videos-header {
      .title {
        font-size: 25px;
        color: #fff;
      }
    }

    .react-multi-carousel-track {
      display: flex;
    }
  }
}

// Desktops, large screens (landscape)
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
}
