.wrapper1 {
    z-index: 999;
    background: #fff;
    position: fixed;
    inset: 0%;
    padding: 10px;
    height: 100vh;
    overflow-y: auto;
  
    
  
    .button-image-upload {
      position: relative;
      height: 40px;
      cursor: pointer;
      width: 100%;
      display: flex;
      pointer-events: none;
      align-items: center;
      background-color: #3aa856;
  
      .button__text {
        transform: translateX(30px);
        color: #fff;
        font-weight: 600;
      }
  
      .button__icon {
        position: absolute;
        transform: translateX(100px);
        border-radius: 0 7px 0 0;
        height: 100%;
        width: 39px;
        background-color: #34974d;
        display: flex;
        align-items: center;
        justify-content: center;
  
        svg {
          width: 23px;
        }
      }
  
      .svg {
        width: 30px;
        stroke: #fff;
      }
  
      &:hover {
        background: #34974d;
  
        .button__text {
          color: transparent;
        }
  
        .button__icon {
          width: 100%;
  
          transform: translateX(0);
        }
      }
  
      &:active {
        border: 1px solid #2e8644;
  
        .button__icon {
          background-color: #2e8644;
        }
      }
    }
  
    .button,
    .button__icon,
    .button__text {
      transition: all 0.3s;
    }
  
    .d-my-flex {
      display: flex !important;
      align-items: center !important;
    }
  
    .col-my-md-6 {
      flex: 0 1 50% !important;
    }
  
    .col-my-md-4 {
      flex: 0 1 33.333% !important;
    }
  
    @media (max-width: 767px) {
      .d-my-flex {
        display: block !important;
      }
    }
  
    .ck-file-dialog-button {
      display: none;
    }
  
    .carousel {
      width: 1024px;
      display: flex;
      align-items: center;
      justify-content: center;
  
      .delete-btn {
        position: absolute;
        z-index: 2;
        right: 4%;
        top: 4%;
        width: 70px;
        background: rgba($color: #fff, $alpha: 0.8);
        padding: 6px;
        cursor: pointer;
        border-radius: 7px;
  
        &:hover {
          svg {
            color: #d21714;
          }
        }
      }
  
      .control-prev {
        margin-left: 12px !important;
      }
  
      .control-prev,
      .control-next {
        &:hover {
          background: rgba($color: #000000, $alpha: 0.2) !important;
        }
  
        background: rgba($color: #000000, $alpha: 0.4) !important;
        border-radius: 50%;
        border: 1px solid rgba($color: #000000, $alpha: 0.1) !important;
        position: absolute !important;
        height: 70px !important;
        top: 40% !important;
        width: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  
    .banner_item1 {
      height: 400px;
      position: relative;
      user-select: none;
  
      @media (max-width: 500px) {
        height: 220px !important;
      }
  
      .fake-image {
        position: absolute;
        filter: blur(8px);
        z-index: 1;
        object-fit: cover !important;
        object-position: center;
        height: 100%;
        width: 100%;
        inset: 0;
      }
  
      .orignal-image {
        position: absolute;
        height: 100%;
        object-position: center;
        z-index: 1;
        left: 0;
        right: 0;
        object-fit: contain !important;
        width: 100%;
      }
  
      &::before {
        content: "";
        width: 100%;
        height: 100%;
        inset: 0%;
        position: absolute;
        background: rgba($color: #000000, $alpha: 0.3);
        z-index: 0;
      }
    }
  
    .header1 {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .dot-spinner {
        --uib-size: 1.2rem;
        --uib-speed: 0.9s;
        --uib-color: #eaecf1;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: var(--uib-size);
        width: var(--uib-size);
      }
  
      .dot-spinner__dot {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        height: 100%;
        width: 100%;
      }
  
      .dot-spinner__dot::before {
        content: "";
        height: 20%;
        width: 20%;
        border-radius: 50%;
        background-color: var(--uib-color);
        transform: scale(0);
        opacity: 0.5;
        animation: pulse0112 calc(var(--uib-speed) * 1.111) ease-in-out infinite;
        box-shadow: 0 0 20px rgba(82, 129, 209, 0.3);
      }
  
      .dot-spinner__dot:nth-child(2) {
        transform: rotate(45deg);
      }
  
      .dot-spinner__dot:nth-child(2)::before {
        animation-delay: calc(var(--uib-speed) * -0.875);
      }
  
      .dot-spinner__dot:nth-child(3) {
        transform: rotate(90deg);
      }
  
      .dot-spinner__dot:nth-child(3)::before {
        animation-delay: calc(var(--uib-speed) * -0.75);
      }
  
      .dot-spinner__dot:nth-child(4) {
        transform: rotate(135deg);
      }
  
      .dot-spinner__dot:nth-child(4)::before {
        animation-delay: calc(var(--uib-speed) * -0.625);
      }
  
      .dot-spinner__dot:nth-child(5) {
        transform: rotate(180deg);
      }
  
      .dot-spinner__dot:nth-child(5)::before {
        animation-delay: calc(var(--uib-speed) * -0.5);
      }
  
      .dot-spinner__dot:nth-child(6) {
        transform: rotate(225deg);
      }
  
      .dot-spinner__dot:nth-child(6)::before {
        animation-delay: calc(var(--uib-speed) * -0.375);
      }
  
      .dot-spinner__dot:nth-child(7) {
        transform: rotate(270deg);
      }
  
      .dot-spinner__dot:nth-child(7)::before {
        animation-delay: calc(var(--uib-speed) * -0.25);
      }
  
      .dot-spinner__dot:nth-child(8) {
        transform: rotate(315deg);
      }
  
      .dot-spinner__dot:nth-child(8)::before {
        animation-delay: calc(var(--uib-speed) * -0.125);
      }
  
      @keyframes pulse0112 {
        0%,
        100% {
          transform: scale(0);
          opacity: 0.5;
        }
  
        50% {
          transform: scale(1);
          opacity: 1;
        }
      }
  
      .save-content-btn-disabled {
        padding: 12px 25px;
        border: none;
        background: #193d9e;
        color: #fff;
        border-radius: 7px;
        box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.3);
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: center;
        width: 120px;
        cursor: pointer;
      }
  
      .delete-content-btn-disabled {
        padding: 12px 25px;
        border: none;
        background: rgb(240, 77, 77);
        color: #fff;
        border-radius: 7px;
        cursor: pointer;
        box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.3);
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: center;
        width: 120px;
      }
  
      select {
        padding: 7px 40px 7px 12px;
        border: 1px solid #e8eaed;
        border-radius: 5px;
        background: white;
        box-shadow: 0 1px 3px -2px #9098a9;
        cursor: pointer;
        font-family: inherit;
        font-size: 16px;
        transition: all 150ms ease;
      }
  
      .save-content-btn {
        padding: 12px 25px;
        border: none;
        background: #2453d6;
        color: #fff;
        cursor: pointer;
        border-radius: 7px;
        box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.3);
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: center;
        width: 120px;
  
        &:hover {
          background: #3366f0;
        }
      }
  
      .back-btn {
        text-align: left;
        padding: 10px;
        border: none;
        background: none;
        font-size: 30px;
        cursor: pointer;
      }
    }
  
    .body {
      width: 100%;
      position: relative;
      font-family: sans-serif;
  
      .ck > .ck-toolbar__items {
        position: relative;
      }
  
      textarea {
        width: 100%;
        resize: none;
        font-size: 18px;
        padding: 10px;
        border-radius: 2px;
        outline: none;
        border-radius: 7px;
        font-family: sans-serif;
  
        &::placeholder {
          color: #c7c4c4;
          font-size: 15px;
        }
  
        &:focus-within {
          border: rgb(167, 167, 172) 0.5px solid;
        }
      }
    }
  
    .my-footer {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
  
    .save-btn {
      color: #fff;
      width: 100px;
      margin-top: 10px;
      background: #3366f0;
      padding: 10px;
  
      &:hover {
        background: #2453d6;
      }
    }
  
    .media {
      width: 500px !important;
    }
  
    .ck.ck-editor__editable > .ck-placeholder::before {
      color: #d21714;
      font-family: Georgia;
      content: "Type";
    }
  
    .ck-editor__editable {
      padding: 10px !important;
      max-height: 400px !important;
  
      p {
        font-weight: 500 !important;
      }
    }
  }
  